{% extends 'base.html' %}
{% load auth_extras %}

{# se carga head #}
{% block title %}
    Usuarios
{% endblock %}

{# body #}
{% block content %}
<style>
    #cke_id_body{
        width: 100% !important;
        align-content: center;
    }
    #container{
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20x;
    }
    #container h3{
        text-align: center;  
    }
</style>
<div class="container" id="container">
        <div>
            <h2> Usuarios</h2>
            <hr>
        </div>
             </br>
             <div class="col-11 mx-auto">
                 <table class="table">
                     <thead class="table-light">
                         <tr>
                              <th>User</th>
                              <th>Email</th>
                              <th>Rol</th>
                         </tr>
                     </thead>
                     <tbody>
                          {% for u in usuarios %}
                              <tr>
                                  <td>{{ u.username }}</td>
                                  <td>{{ u.email }}</td>
                                  <td><a href="{% url 'asignar_rol' u.id %}" class="ml-3 bg-color-danger border-0">Asignar como creador</a></td>
                                  
                                  </td>
                
                              </tr>
                          {% endfor %}
                     </tbody>
                 </table>
             </div>
      </div>
    </br> 



</main>
{% endblock %}