{% extends 'base.html' %}
{% load auth_extras %}

{# se carga head #}
{% block title %}
    Usuarios
{% endblock %}

{# body #}
{% block content %}

<div>
    <div>
        <h2> Usuarios</h2>
        <hr>
    </div>
         </br>
         <div class="col-11 mx-auto">
             <table class="table">
                 <thead class="table-light">
                     <tr>
                          <th>User</th>
                          <th>Email</th>
                          <th>Rol</th>
                     </tr>
                 </thead>
                 <tbody>
                      {% for u in usuarios %}
                          <tr>
                              <td>{{ u.username }}</td>
                              <td>{{ u.email }}</td>
                              <td><a href="{% url 'asignar_rol' u.id %}" class="ml-3 bg-color-danger border-0">Asignar Rol o Desasignar Rol</a></td>
                              
                              </td>
            
                          </tr>
                      {% endfor %}
                 </tbody>
             </table>
         </div>
  </div>
    </br> 



</main>
{% endblock %}