{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js%}
{% block content %}
  <style>
      form{
          width: 30%;
          padding: 20px 20px 20px 20px;
          height: auto;
          margin: auto;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          margin-top: 20px;
          margin-bottom: 20px;

      }
      @media (max-width: 1000px){
        form{
          width: 70%;
          padding: 20px 20px 20px 20px;
          height: auto;
          margin: auto;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          margin-top: 20px;
          margin-bottom: 20px;
    
      }
      }
    @media (max-width: 700px){
      form{
        width: 80%;
        padding: 20px 20px 20px 20px;
        height: auto;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    }
  </style>
  <form method = 'POST'>
  {% csrf_token %}
  <h3>Inicie sesion en su cuenta</h3>
  <br>
      <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Ingrese nombre de usuario" name ='username'>
        </div>

        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name ='password'>
        </div>

        <br>
        <div class="form-group">  
          <input type = 'submit' value = 'Iniciar Sesion' class = 'btn btn-primary'>
          {% csrf_token %}
          <a class="btn btn-danger" href="{%provider_login_url 'google' %}"><i class="fab fa-google size_social text_info"></i></a>
        </div>
        <br><br>
        Aun no tienes una cuenta?
        <a href = "{% url 'registration' %}"><p><strong>Registrarse</strong></p></a>
  </form>
</main>
{% endblock %}