{% extends 'base.html' %}
{% block content %}
    <style>
        #container{
            width: 40%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            height: auto;
            padding: 30px 20px 20px 20px;
            border-radius: 30px;
            margin-bottom: 20x;
        }
        #container h3{
            text-align: center;  
        }
    </style>

    <div class="container" id="container">
        <h3><strong>Editar perfil</strong></h3>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <label><strong>{{ field.label }}</strong></label>
                {{field}}
                <br>
            {% endfor%}
            <input type="submit" class="btn btn-primary" value="Editar">
        </form>
    </div>
    <script>
        let inputfields = document.getElementsByTagName('input')
        let descfield = document.getElementById('id_about')
        for (let i=0; i<inputfields.length;i++){
            inputfields[i].classList.add('form-control')
        }
        descfield.classList.add('form-control')
    </script>
{% endblock  %}