{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  load static %}
{% block title %}Nuevo Rol de Sistema{% endblock %}
{% block content %}
<style>
    #cke_id_body{
        width: 100% !important;
        align-content: center;
    }
    #container{
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20x;
    }
    #container h3{
        text-align: center;  
    }
</style>
    <div class="container" id = 'container'>
        <h3>Crear Nuevo Rol </h3><hr>
        {%  if mensajeError %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p>{{mensajeError}}</p>
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
        </br>
          <div style="text-align: center">
              <button class="btn btn-primary bg-color-accent col-5" type="submit">Crear</button>
               <a href="/listarRol" class="btn btn-danger col-5">Cancelar</a>
          </div>    
        </form>
    </div>

</main>
{% endblock %}