{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Roles de Sistema {% endblock %}

{% block content %}

<style>
    #cke_id_body{
        width: 100% !important;
        align-content: center;
    }
    #container{
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20x;
    }
    #container h3{
        text-align: center;  
    }
</style>

    <div class='container' id = 'container'>
        <div class="row">
            <div class="col"><h3 >Roles</h3></div>
            <!-- Falta agregar condicion para que esta opcion no se muestre si no se tiene el permiso -->
            <div class="col" style="text-align: right; padding-right: 23px;">
                {% if perms.cmsapp.add_rolesdesistema %}
                    <a href="{% url 'crear_rol' %}" class="btn btn-primary">Crear Rol</a>
                {% endif %}
            </div>

        </div>
            <hr>
        {% if messages %}

                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                {% endif %}

                {% endfor %}

        {% endif %}
    
        <div id="lista_roles" class= "">
            {% for rol in roles %}
                <div class="card" style="margin:10px">
                    <div class="card-header bg-color-primary" id="header_rol_{{ rol.id }}">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <strong>{{rol.nombre}}</strong>
                            </div>
                            <div>
                                <!-- <a href="" class="btn bg-color-accent text-white font-weight-bold btn-sm">
                                    <i class="fas fa-eye"></i>
                                    &nbsp Visualizar
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div id="collapse_rol_{{ rol.id }}" class="" aria-labelledby="header_rol_{{ rol.id }}" data-parent="#lista_roles">
                        <div class="card-body row">
                            <div class="col-12 "><u>Descripción: </u><p>{{ rol.descripcion }}</p>
                                <a data-toggle="collapse" style="color: blue;"
                                    onclick="document.getElementById('rol-{{rol.id}}').classList.toggle('show');"
                                role="button" aria-expanded="false" aria-controls="rol-{{rol.id}}">Ver permisos</a>
                                <div class="collapse" id="rol-{{rol.id}}">
                                    <div class="col-11 row">
                                        {% for permiso in rol.permisos %}
                                            <p class="mx-1"><span class="">{{ permiso }}</span></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex flex-row-reverse">
                                    <!-- if rol is not defecto -->
                                    {% if not rol.defecto %}
                                        <a href="{% url 'eliminar_rol' rol.id %}" class="btn btn-danger m-2">Eliminar Rol<a>
                                        <a href="{% url 'modificar_rol' rol.id %}" class="btn btn-primary m-2">Modificar Rol<a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    </br> 
    <!-- <div class="">
        <svg onclick="window.history.back()" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        </br>
        <h6>Volver</h6> 
    </a> -->
</main>
{% endblock %}