{% extends 'base.html' %}
{% block groups %}
    {% if request.user.is_authenticated %}
        {% for miembro in post.miembros.all %}
            {% for roles in post.usuario_roles.all %}
                {% for rol in roles.roles.all %}
                    {% if request.user.username == miembro.username  %}
                        <button class="btn btn-lg " aria-expanded="false" style="color: white;" >{{ rol }}</button>
                    {% endif%}
                {% endfor%}
            {% endfor%}
        {% endfor%}
    {%endif%}
{%endblock%}

{% block content %}
{% load crispy_forms_tags %}
     <!-- Page content-->
     <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title--> 
                        <div class="row">
                            <div class="col">
                                <h1 class="fw-bolder mb-1">{{ post.title}}</h1>
                                <h5 class="fw-bolder mb-1">{{ post.estado}}</h5>
                            </div>
                            {% if post.estado != 'Desactivado' %}
                            <div class="col" style="text-align: right;">
                                {% for miembro in post.miembros.all %}
                                    {% for roles in post.usuario_roles.all %}
                                        {% for rol in roles.roles.all %}
                                            {% if rol.nombre == 'Publicador' and request.user.username == miembro.username  %}
                                            <a href="{% url 'publish' post.slug %}" class="btn btn-success ml-3 bg-color-danger border-0">Publicar Post</a>
                                            {% endif%}
                                        {% endfor%}
                                    {% endfor%}
                                {% endfor%}
                            </div>
                            {% endif%}
                        </div>
                        <!-- Post meta content-->
                        <!-- Post categories-->

                        <!-- user profile  -->
                        <a href = " {% url 'profile' post.writer.profile_id %}" style="text-decoration: none;">
                            <div class="card mb-3" style="max-width: 440px; border: none;">
                                <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ post.writer.pictureUrl}}" class="img-fluid rounded-start" alt="..." style = 'width:100%; height: 100%;'>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                    <h5 class="card-title">{{ post.writer.name}}</h5>
                                    <p class="card-text"><small class="text-muted">{{ post.created}}</small></p>
                                    </div>
                                </div>
                                </div>
                            </div>    
                        </a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        
                        {% if request.user.is_authenticated %}
                            {{total_likes}} <a href='{% url "like" post.slug %}'><button class = 'btn btn-primary btn-sm'> <i class="fa fa-thumbs-up" aria-hidden="true"></i></button></a>
                            {{total_dislikes}} <a href='{% url "dislike" post.slug %}'><button class = 'btn btn-danger btn-sm'> <i class="fa fa-thumbs-down" aria-hidden="true"></i></button></a>
                            {% if post.id %}{% url 'count_comments' post.id %}{% endif %} {{ post.comment_set.count }} <button class = 'btn btn-primary btn-sm'> <i class="fas fa-comment" aria-hidden="true"></i></button></a>
                        {%endif%}
                        {{ post.views }}  <button class ='btn btn-danger btn-sm'><i class="fas fa-eye" style="font-size: 15px; color:rgb(255, 255, 255);"></i></button>
                        <button class = 'btn btn-primary btn-sm' onclick="copyToClipboard('{{ post.get_absolute_url }}')" style="margin-left: 10px;"><i class="fa-solid fa-share-from-square"></i></button>
                            <!-- <a href='{% url "kanban-board" %}' class = 'btn btn-danger'>Tabla Kanban</i></a> -->
                            <!-- <a href='{% url "delete" post.slug %}' class = 'btn btn-danger'><i class="fas fa-trash"></i></a> -->
                        
                        {% if post.estado != 'Desactivado' %}
                            {% if post.writer.name == request.user.username %}
                                <a href="{% url 'asignar_miembro' post.slug %}" class="btn btn-primary ml-3 bg-color-danger border-0">Asignar miembros</a>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <div class="card-body">
                                <h6>Miembros del post:</h6>
                                <ul class="list-group list-group-flush">
                                    {% for miembro in post.miembros.all %}
                                        <div class="card-body">
                                            <li class="list-group-item">{{miembro}}
                                                {% if post.writer.username == request.user.username %}
                                                        <a href="{% url 'asignar_rol' post.slug miembro.id %}" class="ml-3 bg-color-danger border-0">Asignar Rol o Desasignar Rol</a>
                                                {% endif %}
                                                <h6 class="card-text">Roles:</h6>
                                                {% for roles in post.usuario_roles.all %}
                                                    {% for rol in roles.roles.all %}
                                                        {% if roles.miembro == miembro %}
                                                        <p>-{{rol}}</p>
                                                        {% if rol.nombre == 'Editor' and request.user.username == miembro.username  %}
                                                        <a href='{% url "update" post.slug %}' class = 'btn btn-primary'>Editar post <i class="fas fa-pen"></i></a>
                                                        {% endif %}
                                                        {% endif %}
                                                    {% endfor %} 
                                                {% endfor %}
                                            </li>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                            {%endif%}
                        {%endif%}
                    </header>
                    <!-- Preview image figure-->
                    <!-- <figure class="mb-4"><img class="img-fluid rounded" src="{{post.image.url}}" alt="..." /></figure> -->
                    <!-- Post content-->
                </article>
                
                    <!-- Post carrousel-->
                    
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <figure class="mb-4"><img class="img-fluid rounded" src="{{post.image.url}}" alt="..." /></figure>
                            </div>
                            {% for car in post.carrousel.all%}  
                            <div class="carousel-item">
                                <figure class="mb-4"><img class="img-fluid rounded" src="{{car.image.url}}" alt="..." /></figure>
                            </div>
                            {%endfor%} 
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                      <!-- Post body -->
                      <p class="fs-5 mb-4">{{post.body |safe}}</p>


<!--Reportes----------------------------------------------------------------------------------------->
<a href="{% url 'reportar_publicacion' post.slug %}"><i class="fa fa-flag"></i> Reportar</a>

                <!-- Comments section-->

            <!-- Sección de comentarios -->
<!-- Sección de comentarios -->
<section class="mb-5">
    <h3 id="comments-section">Comentarios</h3>

    <!-- Formulario de comentarios -->
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button class="btn btn-primary" type="submit" style="margin-bottom: 10px;">Comentar</button>
        </form>
    {% else %}
    <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle"></i> Iniciar sesión para dejar un comentario.
    </div>
    {% endif %}

<!-- Mostrar comentarios existentes -->
{% for comment in post.comment_set.all %}
    <!-- Renderizar comentarios existentes de forma más estilizada y encuadrada con sombras -->
    <div class="comment-container border rounded p-3 mb-3 shadow-sm">
        <div class="d-flex justify-content-between align-items-center">
            <div class="comment-header bg-light shadow-sm rounded p-2 mb-2">
                <strong class="text-dark">{{ comment.author.username }}</strong> - 
                <span class="text-muted">{{ comment.post_date|date:"F j, Y H:i" }}</span>
            </div>
            {% if comment.author == request.user %}
                <form method="post" action="{% url 'delete_comment' %}" class="mb-0">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <input type="hidden" name="post_id" value="{{ comment.post.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            {% endif %}
        </div>
        <div class="comment-body">
            {{ comment.content|linebreaks }}
        </div>
    </div>
{% empty %}
    <p>No hay comentarios aún.</p>
{% endfor %}
    <script>
        function copyToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand('copy');
        document.body.removeChild(textArea);
        alert("URL copiada al portapapeles: " + text);
        }
    </script>

</section>





            <!----> 




                
                
                <!---->
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <br><br>
                <h2>Posts Recientes</h2>
                {% for post in posts %}
                <div class="card" style="width: 18rem;">
                    <img src="{{post.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}}</h5>
                      <p class="card-text">{{post.body |truncatechars:200}}</p>
                      <a href="{%url 'detail' post.slug %}" class="btn btn-primary">Ir al post</a>
                    </div>
                </div>
                <br>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}