{% extends 'base.html' %}

{% block content %}
<style>
    .estadistica {
        border-collapse: collapse;
        width: 20%;
    }

    .estadistica th, .estadistica td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .estadistica th {
        background-color: #f2f2f2;
    }

    .estadistica tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

<div class="container">
    <h1>Datos Estadísticos de {{ post.title }}</h1>
    <hr>
    <table class="estadistica">
        <th>Concepto </th><th>Cantidad</th>
        <tr><td>Likes </td><td>{{total_likes}}</td></tr>
        <tr><td>Dislikes: </td><td>{{total_dislikes}}</td></tr>
        <tr><td>Views </td><td> {{ post.views }}</td></tr>
        <tr><td>Comentarios </td><td> {{ post.comment_set.count }}</td></tr>
        <tr><td>Compartir enlace </td><td> {{ post.copy_count }}</td></tr>
        <tr><td>Reportes </td><td> {{post.report_count}} </td></tr>
        <tr><td>Total interacciones </td><td> {{ total_interacciones }} </td></tr>
    </table>
    
    <a href="{%url 'detail' post.slug %}" class ='btn btn-danger btn-sm' style="margin: 5px; font-size: 15px;"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
    
</div>
{% endblock %}
